@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-whiteColor tracking-wider font-dmsans;

    font-family: "Playfair Display";
  }
  section {
    @apply pt-40 pb-4 md:pt-40;
  }
}

@layer components {
  .btn {
    @apply inline-block text-sm md:py-3 md:px-8  py-3 px-4 capitalize text-center cursor-pointer  ease-linear duration-200;
  }
  .btn-primary {
    @apply text-greenColorLight bg-whiteColor hover:opacity-75;
  }
  .btn-secondary {
    @apply md:text-whiteColor md:bg-greenColorLight bg-secondaryColor text-darkColor hover:opacity-75;
  }
}

@layer utilities {
  .home__title {
    @apply md:text-4xl text-2xl mb-5 font-oswald font-bold uppercase tracking-wider  lg:text-5xl;
  }
  .home_title {
    @apply md:text-4xl text-2xl mb-2 font-dmsans font-bold uppercase lg:text-5xl;
  }
  .separator {
    @apply w-28 h-[2px] bg-secondaryColor my-5;
  }
  .saparator {
    @apply w-[1190px] h-[2px] bg-[#dbe1e3] ml-[15px]  p-0;
  }
  .saparator2 {
    @apply w-[1050px] h-[2px] bg-black  p-0;
  }
  .paragraph {
    @apply md:text-paragraphColor text-xs leading-5;
  }
}

.tabs_wrap ul li:hover,
.tabs_wrap ul li.active {
  @apply bg-greenColorLight text-blackColor;
}
.viewAllBtn a.active {
  @apply bg-greenColorLight text-blackColor;
}

.blog_year:hover,
.blog_year.active {
  @apply text-[#249b00] cursor-pointer;
}

.branch_grid:hover,
.branch_grid.active {
  @apply bg-[#249b00] cursor-pointer;
}

.branch_grid div h3 p:hover,
.branch_grid div h3 p.active {
  @apply text-white;
}

.service::-webkit-scrollbar {
  display: none;
}
.gallery {
  margin-top: 10px;
  width: 1150px;
  display: flex;
  overflow-x: scroll;
}
.gallery div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 8px;
  flex: none;
  justify-items: left;
}
.gallery div div img {
  width: 270.6px;
  height: 465.27px;
}
.gallery::-webkit-scrollbar {
  display: none;
}

/* .background {
  background-image: url(img/Hero\ Section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 480px) {
  .background {
    background-image: url(img/Hero\ Section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 600px;
  }
} */
